# IDE
.idea/

# Spring Boot
SpringBoot/target/
SpringBoot/.mvn/wrapper/maven-wrapper.jar

# Vue
vue3/node_modules/
vue3/dist/

# OS
.DS_Store
Thumbs.db

# 日志
*.log

# 临时/备份文件
*.bkp
.$*

# Office 临时锁文件
~$*
